<p>
  <h1>Welcome</h1>
  <div>
    <input id="todo-title-textbox" type="text" />
    <input id="add-todo-button" type="button" value="Add todo" />
  </div>
  <div id="todo-list">
  </div>
  <span>The current date is: <%= view.currentDate() %></span>
</p>