<ul class="filters">
  <li><button id="displayAll" type="button" class="filter-button">all</button></li>
  <li><button id="filter-done" type="button" class="filter-button">done</button></li>
  <li><button id="filter-not-done" type="button" class="filter-button">not done</button></li>
</ul>
