<div class="input-group">
  <span class="input-group-addon">
    <input type="checkbox">
  </span>

  <span class="form-control"><%= model.get('title') %></span>

  <span class="input-group-btn">
    <button type="button" class="btn btn-danger btn-default"><i class="fa fa-trash-o"></i></button>
  </span>
</div>
